body {
  margin: 0;
  padding: 80px 0;
}

.blocks {
  margin: 0 auto 0;
  padding: 0 20px;
  max-width: 740px;
}

.blocks:after {
  content: "";
  display: table;
  clear: both;
}

.blocks__block {
  display: block;
  float: left;
  width: 75px;
  height: 75px;
  background-color: lavender;
  margin-bottom: 4px;
  margin-right: 4px;
  line-height: 75px;
  text-align: center;
  color: mediumpurple;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.status {
  position: relative;
  text-align: center;
  margin-top: 29px;
  min-height: 80px;
}

.loader {
  position: relative;
  top: 0;
  height: 40px;
  margin-top: 0;
  text-align: center;
  background: transparent url('loader.svg') no-repeat center center;
  background-size: 40px 19px;
  opacity: 0;
  animation: flipAnimation 1s infinite;
  transition: opacity 300ms;
}

.trigger {
  position: relative;
  top: -40px;
  display: inline-block;
  padding: 0 32px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  text-align: center;
  border-radius: 3px;
  transition: box-shadow 0.2s, opacity 0.2s;

  color: #F63840;
  border: solid 1px #F63840;
  background-color: #fff;
  line-height: 38px;
}

.trigger:hover {
  box-shadow: 0 0 4px 0 rgba(246,56,64,0.4);
}

/* @see https://medium.com/designer-recipes/understanding-card-flip-animation-using-css-391c40ed3136 */
@keyframes flipAnimation {
  0%   {
    -ms-transform: rotateY(-180deg); /* IE 9 */
    -webkit-transform: rotateY(-180deg); /* Safari Chrome */
    transform: rotateY(-180deg);
  }
  50%  {
    -ms-transform: rotateY(0deg); /* IE 9 */
    -webkit-transform: rotateY(0deg); /* Safari Chrome */
    transform: rotateY(0deg);
  }
  100% {
    -ms-transform: rotateY(-180deg); /* IE 9 */
    -webkit-transform: rotateY(-180deg); /* Safari Chrome */
    transform: rotateY(-180deg);
  }
}
